#include <winver.h>

1 ICON "CadThumb.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041904b0"
        BEGIN
            VALUE "FileDescription", "CadThumb - STEP/3MF/STL thumbnails for Windows Explorer"
            VALUE "FileVersion", "1.0.0"
            VALUE "ProductName", "CadThumb"
            VALUE "ProductVersion", "1.0.0"
            VALUE "OriginalFilename", "CadThumb.exe"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x419, 1200
    END
END
